<div [ngSwitch]="control.subtype">
    <div *ngSwitchCase="'p'">
        <p [class]="control.style">
            {{control.label}}
        </p>
    </div>
    <div *ngSwitchCase="'address'">
        <address [class]="control.style">
            {{control.label}}
        </address>
    </div>
    <div *ngSwitchCase="'blockquote'">
        <blockquote [class]="control.style">
            {{control.label}}
        </blockquote>
    </div>
    <div *ngSwitchCase="'canvas'">
        <canvas [class]="control.style">
            {{control.label}}
        </canvas>
    </div>
    <div *ngSwitchCase="'output'">
        <output [class]="control.style">
            {{control.label}}
        </output>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button mat-raised-button 
                type="button" 
                matTooltip="Edit paragraph control" 
                [matTooltipPosition]="'above'" 
                (click)="editParagraphDialog(control, controlIndex)"
                class="btn btn-primary btn-link btn-sm btn-just-icon">
            <i class="material-icons">edit</i>
        </button>
        <button mat-raised-button 
                type="button" 
                matTooltip="Remove paragraph control" 
                [matTooltipPosition]="'above'" 
                (click)="deleteParagraphDialog(control, controlIndex)"
                class="btn btn-danger btn-link btn-sm btn-just-icon">
            <i class="material-icons">close</i>
        </button>
    </div>                                            
</div>