<!-- <div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success" (click)="importData()">Import Data</button>
    </div>
</div> -->

<asw-form-builder [uploadData]="jsonData1"
                [isShowPreviewButton]="isShowPreviewButton"
                [isShowJsonDataButton]="isShowJsonDataButton"
                [isShowPublishButton]="isShowPublishButton"
                (publishClick)="saveJsonData($event)" 
                (previewClick)="previewTemplate($event)"
                (buttonClick)="buttonClick($event)"
                (aswModelChange)="onSelectionChange($event)">
</asw-form-builder>
