<ng-container *ngIf="control as control">
    <mat-form-field hintLabel="Max {{control.maxlength}} characters" [appearance]="control.style">
        <mat-label>{{control.label}}</mat-label>
        <textarea matInput [name]="control.name"
                        type="text"
                        [placeholder]="control.label"
                        [(ngModel)]="control.value"
                        #input="ngModel"
                        [matTooltip]="control.tooltip"
                        [maxlength]="control.maxlength"
                        [minlength]="control.minlength"
                        [required]="control.isRequired"></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/{{control.maxlength}}</mat-hint>  
        <mat-error *ngIf="input.invalid && (input.dirty || input.touched)">
            <mat-error *ngIf="input?.errors?.required">
                <mat-icon aria-hidden="false">error</mat-icon> 
                {{control.label}} is required
            </mat-error>
            <mat-error *ngIf="input?.errors?.minlength">
                <mat-icon aria-hidden="false">error</mat-icon> 
                Sorry, {{control.label}} must be at least {{control.minlength}} characters long.
            </mat-error>
        </mat-error>              
    </mat-form-field>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Edit textarea control" 
                        [matTooltipPosition]="'above'" 
                        (click)="editTextAreaDialog(control, controlIndex)"
                        class="btn btn-success btn-link btn-sm btn-just-icon">
                    <i class="material-icons">edit</i>
                </button>
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Remove textarea control" 
                        [matTooltipPosition]="'above'" 
                        (click)="deleteTextAreaDialog(control, controlIndex)"
                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                    <i class="material-icons">close</i>
                </button>
            </div>                                            
        </div>
    </ng-template>    
</ng-container>
