<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-right">
                <button mat-raised-button 
                        type="button"
                        class="btn btn-default btn-sm">Download Pdf
                </button>                
            </div>
        </div>
        <div class="row">            
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div *ngFor="let control of formContainer; let i = index">
                            <div [ngSwitch]="control.controlType" class="asw-full-width">                                    
                                <div *ngSwitchCase="'autocomplete'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-autocomplete [control]="control"
                                                              [controlIndex]="i">
                                            </asw-autocomplete>                                                
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'header'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-header [control]="control"
                                                        [controlIndex]="i">
                                            </asw-header>                                                
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'image'">
                                    <asw-image [control]="control"
                                               [controlIndex]="i">
                                    </asw-image>
                                </div>
                                <div *ngSwitchCase="'textbox'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-textbox [control]="control"
                                                        [controlIndex]="i">
                                            </asw-textbox>                                                
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'textarea'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-textarea [control]="control"
                                                            [controlIndex]="i">
                                            </asw-textarea>                                                
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'select'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-select [control]="control"
                                                        [controlIndex]="i">
                                            </asw-select>                                                
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'multi-select'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-multi-select [control]="control"
                                                                [controlIndex]="i">
                                            </asw-multi-select>                                                
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'radio'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-radio-button [control]="control"
                                                                [controlIndex]="i">
                                            </asw-radio-button>                                                
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'checkbox'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-checkbox [control]="control"
                                                            [controlIndex]="i">
                                            </asw-checkbox>                                                
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'datepicker'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-datepicker [control]="control"
                                                            [controlIndex]="i">
                                            </asw-datepicker>                                                
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'button'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-button [control]="control"
                                                        [controlIndex]="i">
                                            </asw-button>                                                
                                        </div>
                                    </div>                                       
                                </div>
                                <div *ngSwitchCase="'paragraph'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-paragraph [control]="control"
                                                            [controlIndex]="i">
                                            </asw-paragraph>                                                
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'divider'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-divider [control]="control"
                                                        [controlIndex]="i">
                                            </asw-divider>
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'slide-toggle'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <asw-slide-toggle [control]="control"
                                                                [controlIndex]="i">
                                            </asw-slide-toggle>                                                  
                                        </div>
                                    </div>                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>