<!-- <div class="row">
    <div class="col-md-12 text-right">
        <button mat-raised-button 
                type="button"
                class="btn btn-secondary btn-sm float-end mb-2">Download Pdf
        </button>                
    </div>
</div> -->
<div class="row">            
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <ng-container *ngFor="let control of formContainer; let i = index">
                        <ng-container [ngSwitch]="control.controlType" class="asw-full-width">
                            <div [ngClass]="control.column">
                                <ng-container *ngSwitchCase="'autocomplete'">
                                    <asw-autocomplete [control]="control"
                                                      [controlIndex]="i"
                                                      (selectionChange)="onSelectionChange($event)">
                                    </asw-autocomplete>
                                </ng-container>
                                <ng-container *ngSwitchCase="'header'">
                                    <asw-header [control]="control"
                                                [controlIndex]="i">
                                    </asw-header>
                                </ng-container>
                                <ng-container *ngSwitchCase="'qr-code'">
                                    <asw-qrcode [control]="control"
                                                [controlIndex]="i">
                                    </asw-qrcode>
                                </ng-container>
                                <ng-container *ngSwitchCase="'image'">
                                    <asw-image [control]="control"
                                               [controlIndex]="i"
                                               (imageUpdateEvent)="updatedControl($event)">
                                    </asw-image>
                                </ng-container>
                                <ng-container *ngSwitchCase="'textfield'">
                                    <asw-textfield [control]="control"
                                                [controlIndex]="i"
                                                (aswModelChange)="onSelectionChange($event)">
                                    </asw-textfield>
                                </ng-container>
                                <ng-container *ngSwitchCase="'textarea'">
                                    <asw-textarea [control]="control"
                                                    [controlIndex]="i"
                                                    (aswModelChange)="onSelectionChange($event)">
                                    </asw-textarea>
                                </ng-container>
                                <ng-container *ngSwitchCase="'number'">
                                    <asw-number [control]="control"
                                                [controlIndex]="i"
                                                [formControls]="formContainer"
                                                (aswModelChange)="onSelectionChange($event)">
                                    </asw-number>
                                </ng-container>
                                <ng-container *ngSwitchCase="'calculation'">
                                    <asw-calculation [control]="control"
                                                [controlIndex]="i"
                                                (aswModelChange)="onSelectionChange($event)">
                                    </asw-calculation>
                                </ng-container>
                                <ng-container *ngSwitchCase="'select'">
                                    <asw-select [control]="control"
                                                [controlIndex]="i"
                                                (selectionChange)="onSelectionChange($event)">
                                    </asw-select>
                                </ng-container>
                                <ng-container *ngSwitchCase="'multi-select'">
                                    <asw-multi-select [control]="control"
                                                        [controlIndex]="i"
                                                        (selectionChange)="onSelectionChange($event)">
                                    </asw-multi-select>
                                </ng-container>
                                <ng-container *ngSwitchCase="'radio'">
                                    <asw-radio-button [control]="control"
                                                        [controlIndex]="i"
                                                        (selectionChange)="onSelectionChange($event)">
                                    </asw-radio-button>
                                </ng-container>
                                <ng-container *ngSwitchCase="'checkbox'">
                                    <asw-checkbox [control]="control"
                                                    [controlIndex]="i"
                                                    (selectionChange)="onSelectionChange($event)">
                                    </asw-checkbox>
                                </ng-container>
                                <ng-container *ngSwitchCase="'datepicker'">
                                    <asw-datepicker [control]="control"
                                                    [controlIndex]="i"
                                                    (dateChange)="onSelectionChange($event)">
                                    </asw-datepicker>
                                </ng-container>
                                <ng-container *ngSwitchCase="'button'">
                                    <asw-button [control]="control"
                                                [controlIndex]="i"
                                                (buttonClickEvent)="buttonClicked($event)">
                                    </asw-button>
                                </ng-container>
                                <ng-container *ngSwitchCase="'paragraph'">
                                    <asw-paragraph [control]="control"
                                                    [controlIndex]="i">
                                    </asw-paragraph>
                                </ng-container>
                                <ng-container *ngSwitchCase="'divider'">
                                    <asw-divider [control]="control"
                                                [controlIndex]="i">
                                    </asw-divider>
                                </ng-container>
                                <ng-container *ngSwitchCase="'slide-toggle'">
                                    <asw-slide-toggle [control]="control"
                                                        [controlIndex]="i"
                                                        (selectionChange)="onSelectionChange($event)">
                                    </asw-slide-toggle>
                                </ng-container>
                                <ng-container *ngSwitchCase="'gps'">
                                    <asw-gps [control]="control"
                                                [controlIndex]="i"
                                                (gpsAddressChange)="onSelectionChange($event)">
                                    </asw-gps>
                                </ng-container>
                                <ng-container *ngSwitchCase="'signature'">
                                    <asw-signature [control]="control"
                                                    [controlIndex]="i">
                                    </asw-signature>
                                </ng-container>
                                <ng-container *ngSwitchCase="'drawing'">
                                    <asw-drawing [control]="control"
                                                    [controlIndex]="i">
                                    </asw-drawing>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>                        
            </div>
        </div>
    </div>
</div>