<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">ASW Developer</a>
        </div> 
        <div class="pull-right">
            <a class="navbar-brand" href="#" target="_blank">
                <i class="fa fa-code-fork"></i>
                4.0.0
            </a>
            <a class="navbar-brand" href="https://github.com/asoftwareworld/ASW-Form-Builder" target="_blank">
                <i class="fa fa-github"></i>
                Github
            </a>
        </div>
    </div>               
</nav>