<h4 mat-dialog-title>Edit Property</h4>
<mat-divider></mat-divider>
<form [formGroup]="aswEditButtonForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">        
        <div class="asw-full-width"><br>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Unique Id</mat-label>
                        <input matInput type="text"
                                        name="id"
                                        placeholder="Enter Unique Id"
                                        matTooltip="Enter Unique Id"
                                        formControlName="id" required>
                        <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.id">
                            <mat-error class="asw-mat-error" *ngIf="aswEditButtonForm.get('id')?.hasError(validation.type) && (aswEditButtonForm.get('id')?.dirty || aswEditButtonForm.get('id')?.touched)">
                                {{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Label</mat-label>
                        <input matInput type="text"
                                        placeholder="Enter label"
                                        matTooltip="Enter label"
                                        formControlName="label" required>
                        <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.label">
                            <mat-error class="asw-mat-error" *ngIf="aswEditButtonForm.get('label')?.hasError(validation.type) && (aswEditButtonForm.get('label')?.dirty || aswEditButtonForm.get('label')?.touched)">
                                {{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Custom CSS Class</mat-label>
                        <input matInput type="text"
                                        name="customClass"
                                        placeholder="Custom CSS Class"
                                        matTooltip="Custom CSS Class"
                                        formControlName="customClass">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Tooltip</mat-label>
                        <input matInput type="text"
                                        placeholder="Enter tooltip"
                                        matTooltip="Enter tooltip"
                                        formControlName="tooltip">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type" matTooltip="Select button type">
                            <mat-option value="button">Button</mat-option>
                            <mat-option value="submit">Submit</mat-option>
                            <mat-option value="reset">Reset</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Column Size</mat-label>
                        <mat-select formControlName="column" matTooltip="Select column size">
                            <mat-option *ngFor="let column of constants.columns" [value]="column.value">
                                {{column.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Button Style</mat-label>
                        <mat-select formControlName="style" matTooltip="Select button style">
                            <mat-option value="mat-button">Basic</mat-option>
                            <mat-option value="mat-raised-button">Raised</mat-option>
                            <mat-option value="mat-stroked-button">Stroked</mat-option>
                            <mat-option value="mat-flat-button">Flat</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Color</mat-label>
                        <mat-select formControlName="color" matTooltip="Select button color">
                            <mat-option value="">Basic</mat-option>
                            <mat-option value="primary">Primary</mat-option>
                            <mat-option value="accent">Rose</mat-option>
                            <mat-option value="warn">Danger</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button"
                class="btn btn-danger mr-2 mb-1 me-2"
                (click)="onNoClick()">
            No
        </button>
        <button type="submit"
                class="btn btn-primary mb-1"
                cdkFocusInitial>
            Yes
        </button>
    </mat-dialog-actions>
</form>

