<ng-container *ngIf="control as control">
    <ng-container [ngSwitch]="control.style">
        <ng-container *ngSwitchCase="'mat-button'">
            <button mat-button 
                    [color]="control.color"
                    [type]="control.type"
                    [matTooltip]="control.tooltip"
                    [name]="control.name"
                    >{{control.label}}</button>
        </ng-container>
        <ng-container *ngSwitchCase="'mat-raised-button'">
            <button mat-raised-button 
                    [color]="control.color"
                    [type]="control.type"
                    [matTooltip]="control.tooltip"
                    [name]="control.name"
                    >{{control.label}}</button>
        </ng-container>
        <ng-container *ngSwitchCase="'mat-stroked-button'">
            <button mat-stroked-button 
                    [color]="control.color"
                    [type]="control.type"
                    [matTooltip]="control.tooltip"
                    [name]="control.name"
                    >{{control.label}}</button>
        </ng-container>
        <ng-container *ngSwitchCase="'mat-flat-button'">
            <button mat-flat-button 
                    [color]="control.color"
                    [type]="control.type"
                    [title]="control.tooltip"
                    [name]="control.name"
                    [title]="control.tooltip">
                {{control.label}}
            </button>
        </ng-container>
    </ng-container>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row">
            <div class="col-md-12">
                <button type="button" 
                        matTooltip="Edit button" 
                        [matTooltipPosition]="'above'" 
                        (click)="editButtonDialog(control, controlIndex)"
                        class="asw-btn btn btn-sm btn-just-icon btn-outline-success mr-2 mb-1 me-2">
                    <i class="material-icons asw-material-icon">edit</i>
                </button>
                <button type="button" 
                        matTooltip="Remove button" 
                        [matTooltipPosition]="'above'" 
                        (click)="deleteButtonDialog(control, controlIndex)"
                        class="asw-btn btn btn-sm btn-just-icon btn-outline-danger mb-1">
                    <i class="material-icons asw-material-icon">close</i>
                </button>
            </div>
        </div>
    </ng-template>    
</ng-container>