<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a routerLink="/about-us" routerLinkActive="active">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li>
                <li>
                    <a routerLink="/contact-us" routerLinkActive="active">
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            Powered by <a href="https://asoftwareworld.com" target="_blank">ASW</a> &copy;
            {{test | date: 'yyyy'}}, Developed by
            <a href="https://anishsharmaportfolio.blogspot.com/" target="_blank">Anish Sharma</a>
        </div>
    </div>
</footer>
