.mat-calendar-body-selected {
    &,
    &:hover {
        background-color: #03a9f4 !important;
        color: #fff !important;
        box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(3 169 244 / 40%);
    }
}
.mat-datepicker-toggle-active {
    color: #03a9f4 !important;
}

.mat-calendar-body-cell {
	&:not(.mat-calendar-body-disabled) {
		&:hover {
			>.mat-calendar-body-cell-content {
				&:not(.mat-calendar-body-selected) {
					&:not(.mat-calendar-body-comparison-identical) {
						background-color: #e1f5fe !important;
					}
				}
			}
		}
	}
}
.cdk-keyboard-focused {
	.mat-calendar-body-active {
		>.mat-calendar-body-cell-content {
			&:not(.mat-calendar-body-selected) {
				&:not(.mat-calendar-body-comparison-identical) {
					background-color: #e1f5fe !important;
				}
			}
		}
	}
}
.cdk-program-focused {
	.mat-calendar-body-active {
		>.mat-calendar-body-cell-content {
			&:not(.mat-calendar-body-selected) {
				&:not(.mat-calendar-body-comparison-identical) {
					background-color: #e1f5fe !important;
				}
			}
		}
	}
}
