.asw-mat-icon {
    font-size: 18px !important;
    position: relative;
    top: 4px;
}
.asw-mat-error {
    font-size: 12px;
}

mat-icon {
    color: #5f6368;
    fill: #5f6368 !important;
}

.asw-icon {
    color: #fff;
    fill: #fff !important;
}