.img-thumbnail{
    border-radius: 16px;
}
.img-raised{
    @include shadow-big-image();
}

.rounded{
    border-radius: $border-radius-large !important;
}

asw-image-crop {
  max-height: 350px!important;
}
// .cropper-container {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 41%;
// }
.avatar-upload {
    position: relative;
    margin: 10px auto 10px;
  
    .avatar-preview {
      width: 150px;
      height: 150px;
      position: relative;
      border-radius: 49.9%;
      overflow: hidden;
      border: 4px solid #fff;
      -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  
      > div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .editor {
    height: 100%;
  }
  .canvas {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    & > asw-image-crop {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .toolbar {
    background-color: rgba(0, 0, 0, .5);
    //bottom: 7.7rem;
    color: #fff;
    //height: 2rem;
    left: 50%;
    margin-left: -9rem;
    position: absolute;
    //width: 16rem;
    z-index: 2015;
  }
  .toolbar__button {
    //background-color: transparent;
    border-width: 0;
    //color: #fff;
    //cursor: pointer;
    display: block;
    float: left;
    font-size: .875rem;
    height: 1.6rem;
    text-align: center;
    //width: 2rem;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #000000;
      color: #fff;
    }
  }