.img-thumbnail{
  border-radius: 16px;
}
.img-raised{
  @include shadow-big-image();
}

.rounded{
  border-radius: $border-radius-large !important;
}

asw-image-crop {
max-height: 350px!important;
}
// .cropper-container {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 41%;
// }
.avatar-upload {
  position: relative;
  margin: 10px auto 10px;

  .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 49.9%;
    overflow: hidden;
    border: 4px solid #fff;
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);

    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.editor {
  height: 100%;
}

.canvas {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  & > asw-image-crop {
      max-height: 100%;
      max-width: 100%;
  }
}
.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tools {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .4);
}

.toolbar-size {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  &:first-child {
      margin-bottom: 10px;
  }
}

.btn-selector {
  cursor: pointer;

  &.selected {
      color: #bdbdbd;
  }

  &.disabled {
      cursor: initial;
      color: #bdbdbd;
  }
}