<ng-container *ngIf="control as control">
    <label id="example-radio-group-label">{{control.label}}</label>
    <mat-radio-group class="asw-radio-group {{control.customClass}}"
                    [id]="control.id"
                    [matTooltip]="control.tooltip"
                    [(ngModel)]="control.value"
                    (change)="onSelectionChange(control)"
                    [disabled]="control.isDisabled ? true : false">
        <mat-radio-button *ngFor="let option of control.options" 
                        [value]="option.key">
                    {{ option.value }}
        </mat-radio-button>
    </mat-radio-group>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row">
            <div class="col-md-12">
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Duplicate" 
                        [matTooltipPosition]="'below'" 
                        (click)="duplicateRadioButtonControl(control)">
                    <mat-icon>content_copy</mat-icon>
                </button>
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Edit" 
                        [matTooltipPosition]="'below'" 
                        (click)="editRadioButtonDialog(control, controlIndex)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Delete" 
                        [matTooltipPosition]="'below'" 
                        (click)="deleteRadioButtonDialog(control, controlIndex)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>                                            
        </div>
    </ng-template>    
</ng-container>
