<ng-container *ngIf="control as control">
    <mat-form-field [appearance]="control.style" class="asw-mat-form-field {{control.customClass}}">
        <mat-label>{{control.label}}</mat-label>
        <mat-select [placeholder]="control.label" 
            [id]="control.id"
            [matTooltip]="control.tooltip"
            [(ngModel)]="control.value"                    
            #input="ngModel"
            (selectionChange)="onSelectionChange(control)"
            [required]="control.isRequired">
            <mat-option *ngFor="let option of control.options" [value]="option.key">
                {{ option.value }}
            </mat-option>
        </mat-select>
        <mat-error class="asw-mat-error" *ngIf="input.invalid && (input.dirty || input.touched)">
            <mat-error class="asw-mat-error" *ngIf="input?.errors?.required">
                {{control.label}} is required
            </mat-error>
        </mat-error>
    </mat-form-field>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Duplicate" 
                        [matTooltipPosition]="'below'" 
                        (click)="duplicateSelectControl(control)"
                        class="asw-btn btn btn-sm btn-outline-secondary btn-just-icon mr-2 mb-1 me-2">
                    <i class="material-icons asw-material-icon">content_copy</i>
                </button>
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Edit" 
                        [matTooltipPosition]="'below'" 
                        (click)="editSelectDialog(control, controlIndex)"
                        class="asw-btn btn btn-just-icon btn-sm btn-outline-success mr-2 me-2 mb-1">
                    <i class="material-icons asw-material-icon">edit</i>
                </button>
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Delete" 
                        [matTooltipPosition]="'below'" 
                        (click)="deleteSelectDialog(control, controlIndex)"
                        class="asw-btn btn btn-just-icon btn-sm btn-outline-danger mb-1">
                    <i class="material-icons asw-material-icon">delete</i>
                </button>
            </div>                                            
        </div>
    </ng-template>    
</ng-container>