<h4 mat-dialog-title>Edit Property</h4>
<mat-divider></mat-divider>
<form [formGroup]="aswDatepickerForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="asw-full-width"><br>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Unique Id</mat-label>
                        <input matInput type="text"
                                        name="id"
                                        placeholder="Enter Unique Id"
                                        matTooltip="Enter Unique Id"
                                        formControlName="id" required>
                        <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.id">
                            <ng-container class="asw-mat-error" *ngIf="aswDatepickerForm.get('id')?.hasError(validation.type) && (aswDatepickerForm.get('id')?.dirty || aswDatepickerForm.get('id')?.touched)">
                                {{validation.message}}
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Label</mat-label>
                        <input matInput type="text"
                                        placeholder="Enter label"
                                        matTooltip="Enter label"
                                        formControlName="label" required>
                        <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.label">
                            <ng-container class="asw-mat-error" *ngIf="aswDatepickerForm.get('label')?.hasError(validation.type) && (aswDatepickerForm.get('label')?.dirty || aswDatepickerForm.get('label')?.touched)">
                                {{validation.message}}
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Custom CSS Class</mat-label>
                        <input matInput type="text"
                                        name="customClass"
                                        placeholder="Custom CSS Class"
                                        matTooltip="Custom CSS Class"
                                        formControlName="customClass">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Tooltip</mat-label>
                        <input matInput type="text"
                                        placeholder="Enter tooltip"
                                        matTooltip="Enter tooltip"
                                        formControlName="tooltip">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Min Date</mat-label>
                        <input matInput name="minDate" placeholder="Enter min date" matTooltip="Enter min date"
                            formControlName="minDate" [matDatepicker]="minDate">
                        <mat-datepicker-toggle matSuffix [for]="minDate"></mat-datepicker-toggle>
                        <mat-datepicker #minDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Max Date</mat-label>
                        <input matInput name="maxDate" placeholder="Enter max date" matTooltip="Enter max date"
                            formControlName="maxDate" [matDatepicker]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="maxDate"></mat-datepicker-toggle>
                        <mat-datepicker #maxDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Value</mat-label>
                        <input matInput name="value" placeholder="Enter value" matTooltip="Enter value"
                            formControlName="value" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Column Size</mat-label>
                        <mat-select formControlName="column" matTooltip="Select column size">
                            <mat-option *ngFor="let column of constants.columns" [value]="column.value">
                                {{column.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Textbox Style</mat-label>
                        <mat-select formControlName="style" matTooltip="Select textbox style">
                            <mat-option value="legacy">Legacy</mat-option>
                            <mat-option value="standard">Standard</mat-option>
                            <mat-option value="fill">Fill</mat-option>
                            <mat-option value="outline">Outline</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-slide-toggle color="primary"
                            #isActive
                            formControlName="isRequired"
                            (change)="onStatusChange($event)">
                            <ng-container *ngIf="status; else not">
                                NotRequired
                            </ng-container>
                            <ng-template #not>
                                Required
                            </ng-template>
                    </mat-slide-toggle>
                </div>
                <div class="col-md-4">
                    <mat-slide-toggle color="primary"
                            #isDisable
                            formControlName="isDisabled"
                            (change)="onChange($event)">
                            <ng-container *ngIf="disabled; else enabled">
                                Enabled
                            </ng-container>
                            <ng-template #enabled>
                                Disabled
                            </ng-template>
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" class="btn btn-danger mr-2 mb-1 me-2" (click)="onNoClick()">
            No
        </button>
        <button type="submit" class="btn btn-primary mb-1" cdkFocusInitial>
            Yes
        </button>
    </mat-dialog-actions>
</form>