<ng-container *ngIf="control as control">
    <mat-form-field hintLabel="Max {{control.maxlength}} characters" [appearance]="control.style" class="asw-mat-form-field {{control.customClass}}">
        <mat-label>{{control.label}}</mat-label>
        <input matInput type="text"
                        [id]="control.id"
                        pattern="{{control.pattern}}"
                        [placeholder]="control.label"
                        [(ngModel)]="control.value"                    
                        #input="ngModel"
                        (change)="onChange(control)"
                        [matTooltip]="control.tooltip"
                        [maxlength]="control.maxlength"
                        [minlength]="control.minlength"
                        [required]="control.isRequired">
        <mat-hint align="end">{{input.value?.length || 0}}/{{control.maxlength}}</mat-hint>
        <mat-error class="asw-mat-error" *ngIf="input.invalid && (input.dirty || input.touched)">
            <mat-error class="asw-mat-error" *ngIf="input?.errors?.required">
                {{control.label}} is required
            </mat-error>
            <mat-error class="asw-mat-error" *ngIf="input?.errors?.minlength">
                Sorry, {{control.label}} must be at least {{control.minlength}} characters long.
            </mat-error>
            <mat-error class="asw-mat-error" *ngIf="input?.errors?.pattern">
                {{control.customErrorMsg}}
            </mat-error>
        </mat-error>
    </mat-form-field>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row mb-2">
            <div class="col-md-12">
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Edit textbox control" 
                        [matTooltipPosition]="'above'" 
                        (click)="editTextboxDialog(control, controlIndex)"
                        class="asw-btn btn btn-just-icon btn-sm btn-outline-success mr-2 me-2 mb-1">
                    <i class="material-icons asw-material-icon">edit</i>
                </button>
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Remove textbox control" 
                        [matTooltipPosition]="'above'" 
                        (click)="deleteTextboxDialog(control, controlIndex)"
                        class="asw-btn btn btn-just-icon btn-sm btn-outline-danger mb-1">
                    <i class="material-icons asw-material-icon">close</i>
                </button>
            </div>                                            
        </div>
    </ng-template>
</ng-container>