<h4 mat-dialog-title>Edit Property</h4>
<form [formGroup]="aswParagraphForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="asw-full-width"><br>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Content</mat-label>
                        <textarea matInput type="text"
                                        name="label"
                                        placeholder="Enter Content"
                                        matTooltip="Enter Content"
                                        formControlName="label" required></textarea>
                        <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.label">
                            <mat-error class="asw-mat-error" *ngIf="aswParagraphForm.get('label')?.hasError(validation.type) && (aswParagraphForm.get('label')?.dirty || aswParagraphForm.get('label')?.touched)">
                                <mat-icon class="asw-mat-icon" aria-hidden="false">error</mat-icon> {{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="subtype">
                            <mat-option value="p">P</mat-option>
                            <mat-option value="address">Address</mat-option>
                            <mat-option value="blockquote">Blockquote</mat-option>
                            <mat-option value="canvas">Canvas</mat-option>
                            <mat-option value="output">Output</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    Text style: 
                    <mat-button-toggle-group formControlName="style" name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle value="text-left" aria-label="Text align left">
                            <mat-icon class="asw-mat-icon">format_align_left</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="text-center" aria-label="Text align center">
                            <mat-icon class="asw-mat-icon">format_align_center</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="text-right" aria-label="Text align right">
                            <mat-icon class="asw-mat-icon">format_align_right</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="text-justify" aria-label="Text align justify">
                            <mat-icon class="asw-mat-icon">format_align_justify</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Column Size</mat-label>
                        <mat-select formControlName="column" matTooltip="Select column size">
                            <mat-option value="col-md-12">Column 12</mat-option>
                            <mat-option value="col-md-11">Column 11</mat-option>
                            <mat-option value="col-md-10">Column 10</mat-option>
                            <mat-option value="col-md-9">Column 9</mat-option>
                            <mat-option value="col-md-8">Column 8</mat-option>
                            <mat-option value="col-md-7">Column 7</mat-option>
                            <mat-option value="col-md-6">Column 6</mat-option>
                            <mat-option value="col-md-5">Column 5</mat-option>
                            <mat-option value="col-md-4">Column 4</mat-option>
                            <mat-option value="col-md-3">Column 3</mat-option>
                            <mat-option value="col-md-2">Column 2</mat-option>
                            <mat-option value="col-md-1">Column 1</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button
                type="button"
                class="btn btn-danger mr-2 mb-1"
                (click)="onNoClick()">
            No
        </button>
        <button mat-raised-button type="submit"
                class="btn btn-primary mb-1"
                cdkFocusInitial>
            Yes
        </button>
    </mat-dialog-actions>
</form>

