<ng-container *ngIf="control as control">
    <ng-container [ngSwitch]="control.subtype">
        <ng-container *ngSwitchCase="'p'">
            <p class="{{control.style}} {{control.customClass}}">
                {{control.label}}
            </p>
        </ng-container>
        <ng-container *ngSwitchCase="'address'">
            <address class="{{control.style}} {{control.customClass}}">
                {{control.label}}
            </address>
        </ng-container>
        <ng-container *ngSwitchCase="'blockquote'">
            <blockquote class="{{control.style}} {{control.customClass}}">
                {{control.label}}
            </blockquote>
        </ng-container>
        <ng-container *ngSwitchCase="'canvas'">
            <canvas class="{{control.style}} {{control.customClass}}">
                {{control.label}}
            </canvas>
        </ng-container>
        <ng-container *ngSwitchCase="'output'">
            <output class="{{control.style}} {{control.customClass}}">
                {{control.label}}
            </output>
        </ng-container>
    </ng-container>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row">
            <div class="col-md-12">
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Duplicate" 
                        [matTooltipPosition]="'below'" 
                        (click)="duplicateParagraphControl(control)">
                    <mat-icon>content_copy</mat-icon>
                </button>
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Edit" 
                        [matTooltipPosition]="'below'" 
                        (click)="editParagraphDialog(control, controlIndex)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Delete" 
                        [matTooltipPosition]="'below'" 
                        (click)="deleteParagraphDialog(control, controlIndex)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>                                            
        </div>
    </ng-template>    
</ng-container>
