<h4 mat-dialog-title>Edit Property</h4>
<mat-divider></mat-divider>
<form [formGroup]="aswEditCalculationForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="asw-full-width"><br>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Label</mat-label>
                        <input matInput type="text"
                                        name="label"
                                        placeholder="Enter label"
                                        matTooltip="Enter label"
                                        formControlName="label" required>
                        <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.label">
                            <mat-error class="asw-mat-error" *ngIf="aswEditCalculationForm.get('label')?.hasError(validation.type) && (aswEditCalculationForm.get('label')?.dirty || aswEditCalculationForm.get('label')?.touched)">
                                {{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Tooltip</mat-label>
                        <input matInput type="text"
                                        name="tooltip"
                                        placeholder="Enter tooltip"
                                        matTooltip="Enter tooltip"
                                        formControlName="tooltip">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Custom CSS Class</mat-label>
                        <input matInput type="text"
                                        name="customClass"
                                        placeholder="Custom CSS Class"
                                        matTooltip="Custom CSS Class"
                                        formControlName="customClass">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Calculation Style</mat-label>
                        <mat-select formControlName="style" matTooltip="Select textbox style">
                            <mat-option value="legacy">Legacy</mat-option>
                            <mat-option value="standard">Standard</mat-option>
                            <mat-option value="fill">Fill</mat-option>
                            <mat-option value="outline">Outline</mat-option>                    
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Value</mat-label>
                        <input matInput type="text"
                                        name="value"
                                        placeholder="Enter value"
                                        matTooltip="Enter value"
                                        formControlName="value">                        
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Column Size</mat-label>
                        <mat-select formControlName="column" matTooltip="Select column size">
                            <mat-option *ngFor="let column of constants.columns" [value]="column.value">
                                {{column.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <ng-container formArrayName="operations">
                <div class="row" 
                    *ngFor="let op of operations.controls; let index = index; let last=last;" 
                    [formGroupName]="index">
                    <div class="col-md-4" *ngIf="index!=0">
                        <mat-form-field appearance="outline" class="asw-mat-form-field">
                            <mat-label>Operation {{index+1}}</mat-label>
                            <mat-select formControlName="operationValue"  
                                (selectionChange)="onOperationChange($event, op)"
                                matTooltip="Select operation {{index+1}}" required>
                                <mat-option *ngFor="let operation of constants.operations" [value]="operation.value">
                                    {{operation.label}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.operationValue">
                                <ng-container class="asw-mat-error" *ngIf="operations.controls[index].get('operationValue')?.hasError(validation.type) && (operations.controls[index].get('operationValue')?.dirty || operations.controls[index].get('operationValue')?.touched)">
                                    {{validation.message}}
                                </ng-container>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="operations.controls[index].value.operationValue != 'x̄'">
                        <mat-form-field appearance="outline" class="asw-mat-form-field">
                            <mat-label>Operator {{index+1}}</mat-label>
                            <mat-select formControlName="label"
                                (selectionChange)="onOperatorChange($event, op)"
                                matTooltip="Select operator {{index+1}}" required>
                                <mat-option *ngFor="let control of data.numberControls" [value]="control.label">
                                    {{control.label}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.control">
                                <mat-error class="asw-mat-error" *ngIf="operations.controls[index].get('control')?.hasError(validation.type) && (operations.controls[index].get('control')?.dirty || operations.controls[index].get('control')?.touched)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-icon-button *ngIf="last"
                                type="button" 
                                matTooltip="Add" 
                                [matTooltipPosition]="'below'"
                                (click)="addNewOperation()">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="index != 0"
                                type="button" 
                                matTooltip="Delete" 
                                [matTooltipPosition]="'below'" 
                                (click)="removeOperation(index)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div> 
            </ng-container> 
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button"
                class="btn btn-danger mr-2 me-2 mb-1"
                (click)="onNoClick()">
            No
        </button>
        <button type="submit"
                class="btn btn-primary mb-1"
                cdkFocusInitial>
            Yes
        </button>
    </mat-dialog-actions>
</form>

