<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <asw-textfield [control]="username">
                        </asw-textfield>
                    </div>
                    <div class="col-md-6">
                        <asw-textfield [control]="firstname">
                        </asw-textfield>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>