.asw-material-icon {
    font-size: 17px;
    line-height: 29px;
    margin-top: 0;
    position: absolute;
    width: 100%;
    transform: none;
    left: 0;
    top: 0;
    height: 100%;
}
.asw-btn {
    font-size: 24px;
    height: 30px;
    min-width: 30px;
    width: 30px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px;
}
