<ng-container *ngIf="control as control">
    <asw-qr-code [value]="control.value" 
        [size]="control.qrCodeSize"
        [errorCorrectionLevel]="control.errorCorrectionLevel"
        [centerImageSrc]="control.centerImage"
        [centerImageSize]="control.centerImageSize">
    </asw-qr-code>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row mb-2">
            <div class="col-md-12">
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Duplicate" 
                        [matTooltipPosition]="'below'" 
                        (click)="duplicateQrCodeControl(control)"
                        class="asw-btn btn btn-sm btn-outline-secondary btn-just-icon mr-2 mb-1 me-2">
                    <i class="material-icons asw-material-icon">content_copy</i>
                </button>
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Edit" 
                        [matTooltipPosition]="'below'" 
                        (click)="editQrCodeDialog(control, controlIndex)"
                        class="asw-btn btn btn-just-icon btn-sm btn-outline-success mr-2 me-2 mb-1">
                    <i class="material-icons asw-material-icon">edit</i>
                </button>
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Delete" 
                        [matTooltipPosition]="'below'" 
                        (click)="deleteQrCodeDialog(control, controlIndex)"
                        class="asw-btn btn btn-just-icon btn-sm btn-outline-danger mb-1">
                    <i class="material-icons asw-material-icon">delete</i>
                </button>
            </div>                                            
        </div>
    </ng-template>
</ng-container>