<div class="avatar-upload">
    <div class="avatar-preview">
        <div id="imagePreview" [style.backgroundImage]="'url('+ control.imageUrl +')'"></div>
    </div>
</div>
<div class="row" *ngIf="isPreviewTemplate">
  <div class="col-md-12">
      <button mat-raised-button 
              type="button" 
              matTooltip="Edit drawing control" 
              [matTooltipPosition]="'above'" 
              (click)="editDrawingDialog(control, controlIndex)"
              class="asw-btn btn btn-sm btn-just-icon btn-outline-success mr-2 mb-1">
          <i class="material-icons asw-material-icon">edit</i>
      </button>
      <button mat-raised-button 
              type="button" 
              matTooltip="Remove drawing control" 
              [matTooltipPosition]="'above'" 
              (click)="deleteDrawingDialog(control, controlIndex)"
              class="asw-btn btn btn-sm btn-just-icon btn-outline-danger mb-1">
          <i class="material-icons asw-material-icon">close</i>
      </button>
  </div>                                            
</div>