<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon card-header-primary">
                        <div class="card-icon">
                            <i class="material-icons-outlined">info</i>
                        </div>
                        <h4 class="card-title">
                            About Us
                        </h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="card-description">
                                    A Software World (ASW) is an engineer’s group to serve new-generation IT services and solutions. We provide the best fit, reliable, and cost-effective solutions to our client’s most complex problems. Our leaders and engineers have excellent experience over different domains and technologies along with a strong history of academic and technological accomplishments.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>We are an open-source platform</h2>
                                <p class="card-description">
                                    ASW is the software platform for software professionals to contribute their ideas, we shape those ideas under the shade of our expertise and mentorship. We are open-source platforms to share our thought with the perfect solutions on upcoming problems to contribute our experience expertized to the software industry.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Emerging business and Technologies</h2>
                                <p class="card-description">
                                    Our goal is to provide a solution for emerging businesses with the latest technology to show the contribution to the software industry.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Our Experiences</h2>
                                <p class="card-description">                            
                                    We have excellent experience in several domains and the latest technologies. We are having experience with IOTs, Cyber Security, Artificial Intelligence, and Machine learning.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-icon card-header-primary">
                        <div class="card-icon">
                            <i class="material-icons-outlined">shopping_bag</i>
                        </div>
                        <h4 class="card-title">
                            Our Products
                        </h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <p class="card-description">                            
                            ASW Google Adsense Component
                        </p>
                        <p class="card-description">                            
                            Apni Gaddi (Car Booking Management)
                        </p>
                        <p class="card-description">                            
                            ASW Investment Prediction
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  