:host {
    .asw-drawing-card {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .asw-drawing {
        flex: 1;
        margin: 1em auto auto;
    }
    
    .asw-drawing-canvas {
        border: 1.5px #d6d6d6 dashed;
        border-radius: 7px;
    }

    .size {
        background-color: #000;
        display: inline-block;
        margin: 0.2rem 0.2rem;
        &.selected {
            background-color: #bdbdbd;
        }
    }
    .btn {
        cursor: pointer;

        &.selected {
            color: #bdbdbd;
        }

        &.disabled {
            cursor: initial;
            color: #bdbdbd;
        }
    }
    .color {
        width: 28px;
        height: 28px;
        border-radius: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.2rem 0.2rem;
        &.selected {
            &::after {
                content: "";
                width: 10px;
                height: 10px;
                background: #000;
                display: flex;
                border-radius: 5px;
            }
        }

        &.black {
            background-color: #000;

            &.selected {
                &::after {
                    background: #fff;
                }
            }
        }

        &.white {
            border: 1px solid #a7a7a7;
        }
    }
}
