<div class="asw-drawing-card">
    <div class="loading" *ngIf="isLoading">
        <ng-container *ngTemplateOutlet="loadingTemplate ? loadingTemplate : defaultLoading"></ng-container>
    </div>
    <div class="error" *ngIf="hasError">
        <ng-container *ngTemplateOutlet="errorTemplate ? errorTemplate : defaultError"></ng-container>
    </div>
    
    <ng-template #defaultLoading><p>{{ loadingText }}</p></ng-template>
    <ng-template #defaultError> <p>{{ errorMessage }}</p> </ng-template>
        
    <div class="asw-drawing">
        <canvas id="canvas" class="asw-drawing-canvas"></canvas>
    </div>
    <div class="toolbar" *ngIf="!isLoading">
        <div class="tools">
            <div class="row">
                <div class="col-md-12">
                    <i class="material-icons btn-selector" 
                        [class.selected]="currentTool == 'brush'" 
                        (click)="selectTool('brush')"
                        title="Brush">brush</i>
                    <span *ngFor="let drawingSizeName of drawingSizesName" 
                            class="size btn-selector"
                            [style.width.px]="drawingSizes[drawingSizeName] * 0.8 + 8"
                            [style.height.px]="drawingSizes[drawingSizeName] * 0.8 + 8"
                            [style.borderRadius.px]="drawingSizes[drawingSizeName] * 0.4 + 4"
                            [class.selected]="currentSize == drawingSizeName"
                            title="{{drawingSizeName}}"
                            (click)="selectDrawingSize(drawingSizeName)">
                    </span>
        
                    <input style="display: none" 
                            type="file" 
                            #fileInput 
                            (change)="importPhotoFromFile($event)"
                            accept="image/*"/>
                    <i class="material-icons btn-selector" 
                        *ngIf="enableLoadAnotherImage && !hasImage" 
                        (click)="fileInput.click();"
                        title="Load image">attach_file
                    </i>
                    <i class="material-icons btn-selector" 
                        *ngIf="enableRemoveImage && hasImage" 
                        (click)="removeImage()"
                        title="Remove image">clear</i>
        
                    <i class="material-icons btn-selector" 
                        [class.disabled]="!canUndo" 
                        (click)="undo()"
                        title="Undo">undo</i>
                    <i class="material-icons btn-selector" 
                        [class.disabled]="!canRedo" 
                        (click)="redo()"
                        title="Redo">redo</i>
                    <i class="material-icons btn-selector" 
                        (click)="clearCanvas()" 
                        title="Clear">delete</i>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let colorName of colorsName" 
                        [class.selected]="currentColor == colorName" 
                        class="color"
                        [ngClass]="colorName"
                        [style.background]="colors[colorName]" 
                        title="{{colorName}}"
                        (click)="selectColor(colorName)">
                </div>
            </div>
        </div>
        <!-- Any additional toolbar buttons to be projected by the consuming app -->
        <ng-content></ng-content>
    </div>
</div>
