@import "variables/colors";
@import "variables/shadow";

@import "variables/bootstrap-material-design-base";

// Customized BS variables
@import "variables/spacing";
@import "variables/body";
@import "variables/brand";
@import "variables/buttons";
@import "variables/forms";
@import "variables/type";
@import "variables/modals";

// import their vars after customization for use below
$enable-flex: true; // fully adopt flexbox layouts
$enable-shadows: true; // enable shadows, set to false to turn off shadows

@import "variables/bootstrap-material-design";
