<h4 mat-dialog-title>Edit Property</h4>
<mat-divider></mat-divider>
<form #aswEditPropertyForm="ngForm" (ngSubmit)="onSubmit(aswEditPropertyForm)" novalidate>
    <mat-dialog-content class="mat-typography">
        <div class="asw-full-width"><br>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Label</mat-label>
                        <input matInput type="text"
                                        name="label"
                                        #fieldLabel="ngModel"
                                        placeholder="Enter label"
                                        matTooltip="Enter label"
                                        minlength="4"
                                        [(ngModel)]="label" required>
                        <mat-error *ngIf="fieldLabel?.invalid && (fieldLabel?.dirty || fieldLabel?.touched)">
                            <mat-error *ngIf="fieldLabel?.errors?.required">
                                <mat-icon aria-hidden="false">error</mat-icon> 
                                Enter label
                            </mat-error>
                            <mat-error *ngIf="fieldLabel?.errors?.minlength">
                                <mat-icon aria-hidden="false">error</mat-icon> 
                                Sorry, label must be at least 4 characters long.
                            </mat-error>
                        </mat-error>  
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Tooltip</mat-label>
                        <input matInput type="text"
                                        name="tooltip"
                                        placeholder="Enter tooltip"
                                        matTooltip="Enter tooltip"
                                        [(ngModel)]="tooltip">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="isShowStyle; else nameBlock">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput type="text"
                                name="name"
                                #fieldName="ngModel"
                                placeholder="Enter name"
                                matTooltip="Enter name"
                                maxlength="20"
                                minlength="4"
                                [(ngModel)]="name" required>                        
                        <mat-error *ngIf="fieldName?.invalid && (fieldName?.dirty || fieldName?.touched)">
                            <mat-error *ngIf="fieldName?.errors?.required">
                                <mat-icon aria-hidden="false">error</mat-icon> 
                                Enter name
                            </mat-error>
                            <mat-error *ngIf="fieldName?.errors?.minlength">
                                <mat-icon aria-hidden="false">error</mat-icon> 
                                Sorry, name must be between 4 and 25 characters long.
                            </mat-error>
                        </mat-error>    
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Style</mat-label>
                        <mat-select [(ngModel)]="style" name="style" matTooltip="Select style">
                            <mat-option value="legacy">Legacy</mat-option>
                            <mat-option value="standard">Standard</mat-option>
                            <mat-option value="fill">Fill</mat-option>
                            <mat-option value="outline">Outline</mat-option>                    
                        </mat-select>
                    </mat-form-field>
                </div>
            </div> 
            <ng-template #nameBlock>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text"
                                    name="name"
                                    #fieldName="ngModel"
                                    placeholder="Enter name"
                                    matTooltip="Enter name"
                                    maxlength="20"
                                    appForbiddenName
                                    forbiddenName="bob"
                                    minlength="4"
                                    [(ngModel)]="name" required>                        
                            <mat-error *ngIf="fieldName?.invalid && (fieldName?.dirty || fieldName?.touched)">
                                <mat-error *ngIf="fieldName?.errors?.required">
                                    <mat-icon aria-hidden="false">error</mat-icon> 
                                    Enter name
                                </mat-error>
                                <mat-error *ngIf="fieldName?.errors?.minlength">
                                    <mat-icon aria-hidden="false">error</mat-icon> 
                                    Sorry, name must be between 4 and 25 characters long.
                                </mat-error>
                            </mat-error>    
                        </mat-form-field>
                    </div>
                </div> 
            </ng-template>           
            <div class="row" *ngFor="let option of options; let i = index">
                <div class="col-md-5">
                    <mat-form-field appearance="outline">
                        <mat-label>Option key {{i+1}}</mat-label>
                        <input matInput type="text"
                                [name]="option.key + i"
                                #key="ngModel"
                                placeholder="Option key"
                                [(ngModel)]="option.key"
                                matTooltip="Option key"
                                minlength="4"
                                maxlength="50"
                                (keyup)="onKey($event, i)"
                                pattern="^[a-z0-9_-]{1,50}$"
                                required>
                        <mat-error *ngIf="key?.invalid && (key?.dirty || key?.touched)">
                            <mat-error *ngIf="key?.errors?.required">
                                <mat-icon aria-hidden="false">error</mat-icon>
                                 Enter option key.
                            </mat-error>
                            <mat-error *ngIf="key?.errors?.minlength">
                                <mat-icon aria-hidden="false">error</mat-icon>
                                 Sorry, your option key must be between 4 and 50 characters long.
                            </mat-error>
                            <mat-error *ngIf="key?.errors?.pattern">
                                <mat-icon aria-hidden="false">error</mat-icon>
                                 Sorry, only letters (a-z), numbers (0-9), and periods (- and _) are allowed.
                            </mat-error>
                            <!-- <mat-error>
                                {{optionKeyMessage}}
                            </mat-error> -->
                        </mat-error>                          
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field appearance="outline">
                        <mat-label>Option value {{i+1}}</mat-label>
                        <input matInput type="text"
                                [name]="option.value + i"
                                #value="ngModel"
                                placeholder="Option value"
                                [(ngModel)]="option.value"
                                matTooltip="Option value"
                                minlength="4"
                                maxlength="999"
                                required>
                        <mat-error *ngIf="value?.invalid && (value?.dirty || value?.touched)">
                            <mat-error *ngIf="value?.errors?.required">
                                <mat-icon aria-hidden="false">error</mat-icon>
                                 Enter option value
                            </mat-error>
                            <mat-error *ngIf="value?.errors?.minlength">
                                <mat-icon aria-hidden="false">error</mat-icon>
                                 Sorry, your option value must be at least 4 characters long.
                            </mat-error>
                        </mat-error> 
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button mat-raised-button *ngIf="options.length - 1 == i"
                            type="button" 
                            matTooltip="Add option" 
                            [matTooltipPosition]="'above'" 
                            (click)="addNewOption()"
                            class="btn btn-success btn-link btn-sm btn-just-icon">
                        <i class="material-icons">add</i>
                    </button>
                    <button mat-raised-button *ngIf="i != 0"
                            type="button" 
                            matTooltip="Remove option" 
                            [matTooltipPosition]="'above'" 
                            (click)="removeOption(i)"
                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-slide-toggle color="primary"
                          #isActive
                          name="isRequired"
                          [(ngModel)]="isRequired"
                          (change)="onChange($event)">{{status? 'Required':'Not Required'}}
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button
                type="button"
                class="btn btn-danger"
                (click)="onNoClick()">
            No
        </button>
        <button mat-raised-button type="submit"
                class="btn btn-primary"
                cdkFocusInitial>
            Yes
        </button>
    </mat-dialog-actions>
</form>