<div [ngSwitch]="control.buttonStyle">
    <div *ngSwitchCase="'mat-button'">
        <button mat-button 
                [color]="control.color"
                [type]="control.type"
                [title]="control.tooltip"
                [name]="control.name"
                [title]="control.tooltip"
                >{{control.label}}</button>
        <div class="row">
            <div class="col-md-12">
                <button mat-button (click)="editButtonDialog(control, controlIndex)">Edit</button>
                <button mat-button color="warn" (click)="deleteButtonDialog(control, controlIndex)">Remove</button>
            </div>                                                    
        </div>
    </div>
    <div *ngSwitchCase="'mat-raised-button'">
        <button mat-raised-button 
                [color]="control.color"
                [type]="control.type"
                [title]="control.tooltip"
                [name]="control.name"
                [title]="control.tooltip"
                >{{control.label}}</button>
        <div class="row">
            <div class="col-md-12">
                <button mat-button (click)="editButtonDialog(control, controlIndex)">Edit</button>
                <button mat-button color="warn" (click)="deleteButtonDialog(control, controlIndex)">Remove</button>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'mat-stroked-button'">
        <button mat-stroked-button 
                [color]="control.color"
                [type]="control.type"
                [title]="control.tooltip"
                [name]="control.name"
                [title]="control.tooltip"
                >{{control.label}}</button>
        <div class="row">
            <div class="col-md-12">
                <button mat-button (click)="editButtonDialog(control, controlIndex)">Edit</button>
                <button mat-button color="warn" (click)="deleteButtonDialog(control, controlIndex)">Remove</button>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'mat-flat-button'">
        <button mat-flat-button 
                [color]="control.color"
                [type]="control.type"
                [title]="control.tooltip"
                [name]="control.name"
                [title]="control.tooltip"
                >{{control.label}}</button>
        <div class="row">
            <div class="col-md-12">
                <button mat-button (click)="editButtonDialog(control, controlIndex)">Edit</button>
                <button mat-button color="warn" (click)="deleteButtonDialog(control, controlIndex)">Remove</button>
            </div>
        </div>
    </div>
</div> 