<label id="example-radio-group-label">{{control.placeholder}}</label>
<mat-radio-group class="asw-radio-group">
    <mat-radio-button color="primary" *ngFor="let option of control.options" 
                    [value]="option.key">
                {{ option.value }}
    </mat-radio-button>
</mat-radio-group>
<div class="row">
    <div class="col-md-12">
        <button mat-raised-button 
                type="button" 
                matTooltip="Edit radio button control" 
                [matTooltipPosition]="'above'" 
                (click)="editRadioButtonDialog(control, controlIndex)"
                class="btn btn-primary btn-link btn-sm btn-just-icon">
            <i class="material-icons">edit</i>
        </button>
        <button mat-raised-button 
                type="button" 
                matTooltip="Remove radio button control" 
                [matTooltipPosition]="'above'" 
                (click)="deleteRadioButtonDialog(control, controlIndex)"
                class="btn btn-danger btn-link btn-sm btn-just-icon">
            <i class="material-icons">close</i>
        </button>
    </div>                                            
</div>