<ng-container *ngIf="control as control">
    <mat-slide-toggle [color]="control.color" 
                    [required]="control.isRequired"
                    [checked]="control.value">{{control.label}}</mat-slide-toggle>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Edit slide toggle control"
                        [matTooltipPosition]="'above'" 
                        (click)="editSlideToggleDialog(control, controlIndex)"
                        class="asw-btn btn btn-just-icon btn-sm btn-outline-success mr-2 me-2 mb-1">
                    <i class="material-icons asw-material-icon">edit</i>
                </button>
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Remove slide toggle control" 
                        [matTooltipPosition]="'above'" 
                        (click)="deleteSlideToggleDialog(control, controlIndex)"
                        class="asw-btn btn btn-just-icon btn-sm btn-outline-danger mb-1">
                    <i class="material-icons asw-material-icon">close</i>
                </button>
            </div>
        </div>
    </ng-template>
</ng-container>
