<ng-container *ngIf="control as control">
    <mat-slide-toggle [color]="control.color"
                    [class]="control.customClass"
                    [required]="control.isRequired"
                    (change)="onChange($event, control)"
                    [checked]="control.value"
                    [disabled]="control.isDisabled ? true : false">{{control.label}}</mat-slide-toggle>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row">
            <div class="col-md-12">
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Duplicate" 
                        [matTooltipPosition]="'below'" 
                        (click)="duplicateSlideToggleControl(control)">
                    <mat-icon>content_copy</mat-icon>
                </button>
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Edit"
                        [matTooltipPosition]="'below'" 
                        (click)="editSlideToggleDialog(control, controlIndex)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Delete" 
                        [matTooltipPosition]="'below'" 
                        (click)="deleteSlideToggleDialog(control, controlIndex)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </ng-template>
</ng-container>
