<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <asw-text-box [control]="username"
                            [controlIndex]="0">
                        </asw-text-box>
                    </div>
                    <div class="col-md-6">
                        <asw-text-box [control]="firstname"
                            [controlIndex]="0">
                        </asw-text-box>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<asw-form-builder (publishClick)="saveJsonData($event)"
                  (previewClick)="previewTemplate($event)"></asw-form-builder>
<asw-preview-template [formContainer]="jsonData"></asw-preview-template>