<div class="main-content">
    <div class="container-fluid">
        <div class="row" cdkDropListGroup>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Controls</h4>
                        <div cdkDropList
                            [cdkDropListData]="availableControls"
                            class="asw-list">
                            <div class="asw-box" *ngFor="let item of availableControls" cdkDrag>
                                <i class="material-icons">{{item.icon}}</i>
                                {{item.displayName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Drop Area</h4>
                        <div
                            cdkDropList
                            [cdkDropListData]="formContainer"
                            class="asw-list"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let control of formContainer; let i = index" class="asw-box" cdkDrag>
                                <div [ngSwitch]="control.controlType" class="asw-full-width">
                                    <div *ngSwitchCase="'textbox'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{control.placeholder}}</mat-label>
                                            <input matInput [type]="control.type"
                                                            [name]="control.name"
                                                            [placeholder]="control.placeholder"
                                                            [title]="control.title">
                                                            
                                        </mat-form-field>
                                        <div class="row">
                                            <button mat-button>Edit</button>
                                            <button mat-button color="warn" (click)="openDialog(control, i)">Remove</button>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'textarea'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{control.placeholder}}</mat-label>
                                            <textarea matInput [name]="control.name"
                                                                [placeholder]="control.placeholder"
                                                                [title]="control.title"></textarea>
                                        </mat-form-field>
                                        <div class="row">
                                            <button mat-button>Edit</button>
                                            <button mat-button color="warn" (click)="openDialog(control, i)">Remove</button>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'dropdown'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{control.placeholder}}</mat-label>
                                            <mat-select [placeholder]="control.placeholder">
                                            <mat-option *ngFor="let option of control.options" [value]="option.value">
                                                {{ option.viewValue }}
                                            </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="row">
                                            <button mat-button>Edit</button>
                                            <button mat-button color="warn" (click)="openDialog(control, i)">Remove</button>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'multi-select'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{control.placeholder}}</mat-label>
                                            <mat-select [placeholder]="control.placeholder" multiple>
                                            <mat-option *ngFor="let option of control.options" [value]="option.value">
                                                {{ option.viewValue }}
                                            </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="row">
                                            <button mat-button>Edit</button>
                                            <button mat-button color="warn" (click)="openDialog(control, i)">Remove</button>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'radio'">
                                        <mat-radio-group class="example-radio-group">
                                            <mat-radio-button color="primary" *ngFor="let option of control.options" 
                                                            [value]="option.value">
                                                        {{ option.viewValue }}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                        <div class="row">
                                            <button mat-button>Edit</button>
                                            <button mat-button color="warn" (click)="openDialog(control, i)">Remove</button>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'datepicker'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{control.placeholder}}</mat-label>
                                            <input matInput [matDatepicker]="picker" [placeholder]="control.placeholder">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                        <div class="row">
                                            <button mat-button>Edit</button>
                                            <button mat-button color="warn" (click)="openDialog(control, i)">Remove</button>
                                        </div>
                                    </div>
                                    <div droppable (onDropSuccess)="addToFormGrid($event)" [dropZones]="['grid']">
                                        <div *ngSwitchCase="'grid'">
                                            <mat-grid-list cols="4" rowHeight="100px">
                                                <mat-grid-tile
                                                        *ngFor="let option of control.options"
                                                        [colspan]="option.cols"
                                                        [rowspan]="option.rows"
                                                        [style.background]="option.color">
                                                        <div [ngSwitch]="control.controlType">
                                                            <div *ngSwitchCase="'textbox'">
                                                                <mat-form-field class="asw-full-width">
                                                                    <input matInput [type]="control.type"
                                                                                    [name]="control.name"
                                                                                    [placeholder]="control.placeholder"
                                                                                    [title]="control.title">
                                                                                    
                                                                </mat-form-field>
                                                                <div fxLayout="row">
                                                                    <button mat-button>Edit</button>
                                                                    <button mat-button color="warn" (click)="openDialog(control, i)">Remove</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </mat-grid-tile>
                                            </mat-grid-list>
                                            <div class="row">
                                                <button mat-button>Edit</button>
                                                <button mat-button color="warn" (click)="openDialog(control, i)">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">JSON Schema</h4>
                        <pre>{{formContainer | json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>