<div class="asw-avatar-wrap {{control.class}}">
    <div class="{{control.imageShape}}">
        <img class="asw-profile-pic" src="{{control.imageUrl}}" />	
        <span class="file-upload" ></span>
    </div>
    <div class="asw-upload-button">
        <i class="fa fa-camera" aria-hidden="true" (click)="uploadImageDialog(control, controlIndex)"></i>
    </div>
</div>

<div class="row" *ngIf="isPreviewTemplate">
    <div class="col-md-12">
        <button mat-raised-button 
                type="button" 
                matTooltip="Duplicate" 
                [matTooltipPosition]="'below'" 
                (click)="duplicateImageControl(control)"
                class="asw-btn btn btn-sm btn-outline-secondary btn-just-icon mr-2 mb-1 me-2">
            <i class="material-icons asw-material-icon">content_copy</i>
        </button>
        <button mat-raised-button 
                type="button" 
                matTooltip="Edit" 
                [matTooltipPosition]="'below'" 
                (click)="editImageDialog(control, controlIndex)"
                class="asw-btn btn btn-sm btn-just-icon btn-outline-success mr-2 mb-1 me-2">
            <i class="material-icons asw-material-icon">edit</i>
        </button>
        <button mat-raised-button 
                type="button" 
                matTooltip="Delete" 
                [matTooltipPosition]="'below'" 
                (click)="deleteImageDialog(control, controlIndex)"
                class="asw-btn btn btn-sm btn-just-icon btn-outline-danger mb-1">
            <i class="material-icons asw-material-icon">delete</i>
        </button>
    </div>
</div>