<div class="asw-avatar-wrapper {{control.class}}">
	<img class="asw-profile-pic" src="{{control.imageUrl}}" />
	<div class="asw-upload-button" (click)="uploadImageDialog(control, controlIndex)">
		<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
	</div>
	<span class="file-upload" ></span>
</div>
<div class="row" *ngIf="isPreviewTemplate">
  <div class="col-md-12">
      <button mat-raised-button 
              type="button" 
              matTooltip="Edit image control" 
              [matTooltipPosition]="'above'" 
              (click)="editImageDialog(control, controlIndex)"
              class="asw-btn btn btn-sm btn-just-icon btn-outline-success mr-2 mb-1 me-2">
          <i class="material-icons asw-material-icon">edit</i>
      </button>
      <button mat-raised-button 
              type="button" 
              matTooltip="Remove image control" 
              [matTooltipPosition]="'above'" 
              (click)="deleteImageDialog(control, controlIndex)"
              class="asw-btn btn btn-sm btn-just-icon btn-outline-danger mb-1">
          <i class="material-icons asw-material-icon">close</i>
      </button>
  </div>                                            
</div>