<div class="{{control.class}}">
    <img class="{{control.imageShape}}" [src]="control.imageUrl ? control.imageUrl : constants.defaultImage" height="{{control.height}}" width="{{control.width}}" />
    <div class="asw-pt-10">
        <button mat-flat-button color="warn" type="button"
            (click)="uploadImageDialog(control, controlIndex)"
            matTooltip="Upload">            
            Upload
        </button>
    </div>
</div>

<div class="row" *ngIf="isPreviewTemplate">
    <div class="col-md-12">
        <button mat-icon-button 
                type="button" 
                matTooltip="Duplicate" 
                [matTooltipPosition]="'below'" 
                (click)="duplicateImageControl(control)">
            <mat-icon>content_copy</mat-icon>
        </button>
        <button mat-icon-button 
                type="button" 
                matTooltip="Edit" 
                [matTooltipPosition]="'below'" 
                (click)="editImageDialog(control, controlIndex)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button 
                type="button" 
                matTooltip="Delete" 
                [matTooltipPosition]="'below'" 
                (click)="deleteImageDialog(control, controlIndex)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>