<div class="{{control.class}}">
    <img src="{{control.imageUrl}}" [height]="control.height" [width]="control.width"/>
    <div class="asw-pt-10">
        <button mat-stroked-button 
                type="button" 
                matTooltip="Signature" 
                [matTooltipPosition]="'below'"
                (click)="signatureDialog(control, controlIndex)">
            <mat-icon>gesture</mat-icon>
            Signature
        </button>
    </div>    
</div>
<div class="row" *ngIf="isPreviewTemplate">
    <div class="col-md-12">
        <button mat-icon-button 
                type="button" 
                matTooltip="Duplicate" 
                [matTooltipPosition]="'below'" 
                (click)="duplicateSignatureControl(control)">
            <mat-icon>content_copy</mat-icon>
        </button>
        <button mat-icon-button 
                type="button" 
                matTooltip="Edit" 
                [matTooltipPosition]="'below'"
                (click)="editSignatureDialog(control, controlIndex)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button 
                type="button" 
                matTooltip="Delete" 
                [matTooltipPosition]="'below'"
                (click)="deleteSignatureDialog(control, controlIndex)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>