<mat-form-field appearance="{{control.style}}">
    <mat-label>{{control.placeholder}}</mat-label>
    <mat-select [placeholder]="control.placeholder" ngModel multiple [required]="control.isRequired">
        <mat-option *ngFor="let option of control.options" [value]="option.key">
            {{ option.value }}
        </mat-option>
    </mat-select>               
</mat-form-field>
<div class="row">
    <div class="col-md-12">
        <button mat-button (click)="editMultiSelectDialog(control, controlIndex)">Edit</button>
        <button mat-button color="warn" (click)="deleteMultiSelectDialog(control, controlIndex)">Remove</button>
    </div>                                            
</div>