.img-thumbnail{
    border-radius: 16px;
}
.img-raised{
    @include shadow-big-image();
}

// .rounded{
//     border-radius: $border-radius-large !important;
// }

asw-image-crop {
    max-height: 50vh !important;

    max-width: 50vh !important;
}