.wrapper{
    position: relative;
    top: 0;
    height: 100vh;
}
.main-panel{
    position: relative;
    float: right;
    width: $sidebar-width;
    @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));

     .main-content{
        margin-top: 70px;
        padding: 30px 15px;
        min-height: calc(100vh - 123px);
    }

     .footer{
        border-top: 1px solid #e7e7e7;
    }

     .navbar{
        margin-bottom: 0;
    }

    .header{
        margin-bottom: 30px;

        .title{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
