<ng-container *ngIf="control as control">
    <mat-form-field [appearance]="control.style" class="asw-mat-form-field">
        <mat-label>{{control.label}}</mat-label>
        <input [name]="control.name"
               [placeholder]="control.label"
               [matAutocomplete]="auto"
               matInput
               [(ngModel)]="control.value"                    
                #input="ngModel"
               [matTooltip]="control.tooltip"
               (ngModelChange)="filteredOptions = filter(control.value)"
               [required]="control.isRequired">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions" [value]="option.key">
                {{option.value}}
            </mat-option>
        </mat-autocomplete>
        <mat-error class="asw-mat-error" *ngIf="input.invalid && (input.dirty || input.touched)">
            <mat-error class="asw-mat-error" *ngIf="input?.errors?.required">
                {{control.label}} is required
            </mat-error>
        </mat-error>
    </mat-form-field>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Edit autocomplete control" 
                        [matTooltipPosition]="'above'" 
                        (click)="editAutocompleteDialog(control, controlIndex)"
                        class="asw-btn btn btn-sm btn-outline-success btn-just-icon mr-2 mb-1 me-2">
                    <i class="material-icons asw-material-icon">edit</i>
                </button>
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Remove autocomplete control" 
                        [matTooltipPosition]="'above'" 
                        (click)="deleteAutocompleteDialog(control, controlIndex)"
                        class="asw-btn btn btn-sm btn-outline-danger btn-just-icon mb-1">
                    <i class="material-icons asw-material-icon">close</i>
                </button>
            </div>                                            
        </div>
    </ng-template>    
</ng-container>