<ng-container *ngIf="control as control">
    <mat-form-field [appearance]="control.style">
        <mat-label>{{control.label}}</mat-label>
        <input matInput
               name="control.name"
               [placeholder]="control.label"
               [matAutocomplete]="auto"
               [(ngModel)]="control.value"
               #input="ngModel"
               (ngModelChange)="onChange($event)"
               [matTooltip]="control.tooltip"
               [required]="control.isRequired">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let address of filteredAddress" [value]="address.label">
                <img class="example-option-img" aria-hidden [src]="address.icon" height="20">
                <span>{{address.alias}}</span> 
                <small> {{address.addressName}}</small>
            </mat-option>
        </mat-autocomplete>
        <mat-error class="asw-mat-error" *ngIf="input.invalid && (input.dirty || input.touched)">
            <mat-error class="asw-mat-error" *ngIf="input?.errors?.required">
                <mat-icon class="asw-mat-icon" aria-hidden="false">error</mat-icon> 
                {{control.label}} is required
            </mat-error>
            <mat-error class="asw-mat-error" *ngIf="input?.errors?.searchAddress">
                <mat-icon class="asw-mat-icon" aria-hidden="false">error</mat-icon> 
                Sorry, {{control.value}} did not found.
            </mat-error>
        </mat-error>
    </mat-form-field>
    <div class="row" *ngIf="isPreviewTemplate">
        <div class="col-md-12">
            <button mat-raised-button 
                    type="button" 
                    matTooltip="Edit gps control" 
                    [matTooltipPosition]="'above'" 
                    (click)="editGpsDialog(control, controlIndex)"
                    class="asw-btn btn btn-sm btn-just-icon btn-outline-success mr-2 mb-1">
                <i class="material-icons asw-material-icon">edit</i>
            </button>
            <button mat-raised-button 
                    type="button" 
                    matTooltip="Remove gps control" 
                    [matTooltipPosition]="'above'" 
                    (click)="deleteGpsDialog(control, controlIndex)"
                    class="asw-btn btn btn-sm btn-just-icon btn-outline-danger mb-1">
                <i class="material-icons asw-material-icon">close</i>
            </button>
        </div>
    </div>
</ng-container>