<h4 mat-dialog-title>Edit property</h4>
<mat-divider></mat-divider>
<form [formGroup]="aswEditSingleSelectForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="asw-full-width"><br>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Unique Id</mat-label>
                        <input matInput type="text"
                                        name="id"
                                        placeholder="Enter Unique Id"
                                        matTooltip="Enter Unique Id"
                                        formControlName="id" required>
                        <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.id">
                            <ng-container class="asw-mat-error" *ngIf="aswEditSingleSelectForm.get('id')?.hasError(validation.type) && (aswEditSingleSelectForm.get('id')?.dirty || aswEditSingleSelectForm.get('id')?.touched)">
                                {{validation.message}}
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Label</mat-label>
                        <input matInput type="text"
                                        placeholder="Enter label"
                                        matTooltip="Enter label"
                                        formControlName="label" required>
                        <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.label">
                            <ng-container class="asw-mat-error" *ngIf="aswEditSingleSelectForm.get('label')?.hasError(validation.type) && (aswEditSingleSelectForm.get('label')?.dirty || aswEditSingleSelectForm.get('label')?.touched)">
                                {{validation.message}}
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Custom CSS Class</mat-label>
                        <input matInput type="text"
                                        name="customClass"
                                        placeholder="Custom CSS Class"
                                        matTooltip="Custom CSS Class"
                                        formControlName="customClass">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Tooltip</mat-label>
                        <input matInput type="text"
                                        placeholder="Enter tooltip"
                                        matTooltip="Enter tooltip"
                                        formControlName="tooltip">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="{{control.controlType != 'radio' ? 'col-md-6' : 'col-md-12'}}">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Column Size</mat-label>
                        <mat-select formControlName="column" matTooltip="Select column size">
                            <mat-option *ngFor="let column of constants.columns" [value]="column.value">
                                {{column.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="control.controlType != 'radio'">
                    <mat-form-field appearance="outline" class="asw-mat-form-field">
                        <mat-label>Textbox Style</mat-label>
                        <mat-select formControlName="style" matTooltip="Select textbox style">
                            <mat-option value="fill">Fill</mat-option>
                            <mat-option value="outline">Outline</mat-option>                    
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <ng-container formArrayName="options">
                <div class="row" 
                    *ngFor="let option of options.controls; let index = index; let last=last;" 
                    [formGroupName]="index">
                    <div class="col-md-1 mt-3">
                        <mat-radio-group formControlName="key">
                            <mat-radio-button  
                            [value]="option.value.key"
                            (change)="radioChange($event)"
                            [checked]="option.value.isChecked"></mat-radio-button>
                          </mat-radio-group>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="asw-mat-form-field">
                            <mat-label>Option key {{index+1}}</mat-label>
                            <input matInput type="text"
                                    placeholder="Option key"
                                    formControlName="key"
                                    matTooltip="Option key"
                                    minlength="1"
                                    maxlength="50"
                                    (keyup)="onKey($event, index)"
                                    pattern="^[a-z0-9_-]{1,50}$"
                                    required>
                                <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.key">
                                    <ng-container class="asw-mat-error" *ngIf="options.controls[index].get('key')?.hasError(validation.type) && options.controls[index].get('key')?.errors?.unique && (options.controls[index].get('key')?.dirty || options.controls[index].get('key')?.touched)">
                                        {{validation.message}}
                                    </ng-container>
                                </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-5">
                        <mat-form-field appearance="outline" class="asw-mat-form-field">
                            <mat-label>Option value {{index+1}}</mat-label>
                            <input matInput type="text"
                                    placeholder="Option value"
                                    formControlName="value"
                                    matTooltip="Option value"
                                    minlength="1"
                                    maxlength="999"
                                    required>
                                <mat-error class="asw-mat-error" *ngFor="let validation of constants.accountValidationMessages.value">
                                    <ng-container class="asw-mat-error" *ngIf="options.controls[index].get('value')?.hasError(validation.type) && (options.controls[index].get('value')?.dirty || options.controls[index].get('value')?.touched)">
                                        {{validation.message}}
                                    </ng-container>
                                </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-icon-button *ngIf="last"
                                type="button" 
                                matTooltip="Add" 
                                [matTooltipPosition]="'below'"
                                (click)="addNewOption()">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="index != 0"
                                type="button" 
                                matTooltip="Delete" 
                                [matTooltipPosition]="'below'" 
                                (click)="removeOption(index)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div> 
            </ng-container>            
            <div class="row">
                <div class="col-md-4">
                    <mat-slide-toggle color="primary"
                            #isActive
                            formControlName="isRequired"
                            (change)="onStatusChange($event)">
                            <ng-container *ngIf="status; else not">
                                NotRequired
                            </ng-container>
                            <ng-template #not>
                                Required
                            </ng-template>
                    </mat-slide-toggle>
                </div>
                <div class="col-md-4">
                    <mat-slide-toggle color="primary"
                            #isDisable
                            formControlName="isDisabled"
                            (change)="onChange($event)">
                            <ng-container *ngIf="disabled; else enabled">
                                Enabled
                            </ng-container>
                            <ng-template #enabled>
                                Disabled
                            </ng-template>
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button"
                class="btn btn-danger mr-2 mb-1 me-2"
                (click)="onNoClick()">
            No
        </button>
        <button type="submit"
                class="btn btn-primary mb-1"
                cdkFocusInitial>
            Yes
        </button>
    </mat-dialog-actions>
</form>