<ng-container *ngIf="control as control">
    <mat-label>{{control.label}}</mat-label>
    <div *ngFor="let option of control.options">
        <mat-checkbox color="primary"
                    [class]="control.customClass"
                    [matTooltip]="option.value"
                    [(ngModel)]="option.isChecked"
                    (change)="onSelectionChange(control)"
                    [required]="control.isRequired">
            {{option.value}}
        </mat-checkbox>
    </div>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Duplicate" 
                        [matTooltipPosition]="'below'" 
                        (click)="duplicateCheckboxControl(control)"
                        class="asw-btn btn btn-sm btn-outline-secondary btn-just-icon mr-2 mb-1 me-2">
                    <i class="material-icons asw-material-icon">content_copy</i>
                </button>
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Edit" 
                        [matTooltipPosition]="'below'" 
                        (click)="editCheckboxDialog(control, controlIndex)"
                        class="asw-btn btn btn-sm btn-just-icon btn-outline-success mr-2 mb-1 me-2">
                    <i class="material-icons asw-material-icon">edit</i>
                </button>
                <button mat-raised-button 
                        type="button" 
                        matTooltip="Delete" 
                        [matTooltipPosition]="'below'" 
                        (click)="deleteCheckboxDialog(control, controlIndex)"
                        class="asw-btn btn btn-sm btn-just-icon btn-outline-danger mb-1">
                    <i class="material-icons asw-material-icon">delete</i>
                </button>
            </div>                                            
        </div>
    </ng-template>    
</ng-container>
