<ng-container *ngIf="control as control">
    <mat-label>{{control.label}}</mat-label>
    <div *ngFor="let option of control.options">
        <mat-checkbox color="primary"
                    [class]="control.customClass"
                    [matTooltip]="option.value"
                    [(ngModel)]="option.isChecked"
                    (change)="onSelectionChange(control)"
                    [required]="control.isRequired"
                    [disabled]="control.isDisabled ? true : false">
            {{option.value}}
        </mat-checkbox>
    </div>
    <ng-template [ngIf]="isPreviewTemplate">
        <div class="row">
            <div class="col-md-12">
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Duplicate" 
                        [matTooltipPosition]="'below'" 
                        (click)="duplicateCheckboxControl(control)">
                    <mat-icon>content_copy</mat-icon>
                </button>
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Edit" 
                        [matTooltipPosition]="'below'" 
                        (click)="editCheckboxDialog(control, controlIndex)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button 
                        type="button" 
                        matTooltip="Delete" 
                        [matTooltipPosition]="'below'" 
                        (click)="deleteCheckboxDialog(control, controlIndex)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>                                            
        </div>
    </ng-template>    
</ng-container>
